[2019-12-10 10:14] MartinHahner88 opened #1 "KITTI"
[this is no issue, just a question]

**Thanks a lot for releasing your code!**

I searched for the keyword _kitti_ in your code, but there were _0_ hits.

In your paper, you also trained and evaluated on KITTI.
Will you also release code to reproduce those experiments?

Again, thanks so much for contributing to the community by releasing your code!

[2019-12-11 02:28] amiltonwong opened #2 "test error."
Hi, authors,

After input the command `python train.py --devices 0 --evaluate --configs.train.best_checkpoint_path /data/code11/pvcnn/trained_models/s3dis.pvcnn.area5.pth.tar`, I got the following error :

[code]

Is there something wrong with the command I used or something wrong with the relative import?

THX!

[2019-12-11 03:38] synxlin commented on #2
Hi,  you have to specify a config file to build the model before loading the checkpoint:
[code]

Please run the following command,
[code]

[2019-12-11 07:01] amiltonwong commented on #2
Hi, @synxlin ,

Thanks for your reply. I use the command your mentioned:
`python train.py configs/s3dis/pvcnn/area5.py --devices 0 --evaluate --configs.train.best_checkpoint_path /data/code11/pvcnn/trained_models/s3dis.pvcnn.area5.pth.tar`. However, I got this [error](https://gist.github.com/amiltonwong/cd2e9ec4f5cab10e8ec317c1c4c05f78). It seems the error comes from c++ extention or Ninja package

[2019-12-11 07:38] memoiry commented on #1
+1, it seems that the original frustum-pointnets is implemented in tensorflow.

[2019-12-11 12:45] synxlin commented on #2
Hi, You need Pytorch >= 1.3. I will update the README.md.

[2019-12-15 19:34] #2 closed

[2019-12-25 03:35] S171000857 opened #3 "some problem about dataset"
Dear Author:
Hello, I always encounter the problem “No such file or directory: 'data/s3dis/Area_1'” when running “python scripts/s3dis/prepare_data.py -d [path to unzip dataset dir]”, how can I solve it?
How should I place the dataset？ Thank you very much.

[2019-12-25 06:54] #3 closed

[2020-01-05 04:50] synxlin commented on #1
Hi, we have released the PyTorch code for Frustum PointNets and Frustum PVCNN Efficient on the KITTI dataset.

[2020-01-05 05:32] #1 closed

[2020-01-06 03:21] Treemann opened #4 "Question about the accuracy on S3DIS"
Hi synxlin,

Thanks for your contribution!

I tried to reproduce your results on S3DIS with default configurations, and there are some gaps between mine and yours.

| version | OA | mIoU |
|---|---|---|
|PVCNN (release) | 86.16 | 56.20 |
|PVCNN (reproduce) | 84.95 | 53.96 |
|PVCNN++ (release) | 87.17 | 58.43 |
|PVCNN++ (reproduce) | 85.54 | 55.90 |

I notice that you set a random seed, so is that

[2020-01-06 06:53] Prominem opened #5 "AttributeError: module 'modules.functional' has no attribute 'furthest_point_sampling'"
Can this code be run with cuda-9.2? modules.functional doesn't work on my machine with cuda-9.2

[2020-01-06 17:38] synxlin commented on #5
Hi, @Prominem. Could you please provide detailed error information?
By the way, our experiments are all conducted on PyTorch 1.3.1 + CUDA 10.0/10.1.

[2020-01-06 20:06] synxlin commented on #4
Hi, @Treemann. Could you please provide the training environment (e.g., PyTorch version, CUDA version, GPU, number of GPUs used)?
When training on S3DIS, we find that the accuracy is sensitive to training batch size. You can either train with batch size = 32 on 2 GPUs or with batch size = 16 on 1 GPUs.
I set the random seed just for evaluation reproducibility since PointNet/PointNet++ randomly sam

[2020-01-07 05:13] Treemann commented on #4
Hi, @synxlin. The settings of my training environment is listed as follow.

Pytorch version: 1.3.0
CUDA version: 9.2
GPU device: 1 V100

The training batch size is set 32 as default.

I  train the two networks again with the same default settings and still there are still some gaps.

[2020-01-07 13:49] synxlin commented on #4
Hi, @Treemann. I have experimented on one V100. For PVCNN, could you set the batch size to 16 if you only use one GPU as I mentioned in the last reply?
How did you evaluate these accuracies and IoUs? During training, the meters do not give you accurate accuracies and IoU. You have to run the command with "--evaluate" after training to get final evaluation accuracies and IoUs.

[2020-01-08 01:39] Prominem commented on #5
thanks for replying, @synxlin I solve this problem by restarting my computer.

[2020-01-08 02:20] #5 closed

[2020-01-08 06:37] Treemann commented on #4
Hi, @synxlin. Thanks for your suggestion.
I use the "--evaluation" option and the result seems reasonable. I will try another experiment with 1 GPU and batch_size=16.

| version | OA | mIoU |
|---|---|---|
|PVCNN (release) | 86.16 | 56.20 |
|PVCNN (reproduce) | 86.37 | 55.33 |
|PVCNN++ (release) | 87.17 | 58.43 |
|PVCNN++ (reproduce) | 87.15 | 57.54 |

[2020-01-08 18:30] synxlin commented on #4
Your reproduced results are in line with the results in our paper (Table 4):
PVCNN is more efficient and better than 3D-UNet (54.93 mIoU);
PVCNN++ is more efficient and better than PointCNN (57.26 mIOU).

[2020-01-08 18:30] #4 closed

[2020-01-12 08:42] Jacky-gsq opened #6 "Testing Pretrained Models Error"
thank you for the code!
but i got the error as follows  when running
"python train.py configs/kitti/frustum/pvcnne.py --devices 0 --evaluate --configs.evaluate.best_checkpoint_path kitti.frustum.pvcnne.pth.tar --configs.evaluate.num_tests [#measurements]"

Error:
==> loading configs from ['configs/kitti/frustum/pvcnne.py']
Traceback (most recent call last):
  File "train.py", line 266, in <module>

[2020-01-12 19:12] synxlin commented on #6
Hi, @Jacky-gsq. You should replace the [#measurements] with the int number you want. For example, if you want to evaluate the model 20 times, the command should be,
[code]
Since Frustum-PointNet/PointNet++ backbone randomly samples the points, the evaluation accuracy will fluctuate. In order to eliminate the effects, one can evaluate multiple times to find out the average performance. Our code als

[2020-01-13 03:08] SkyeFromKindergarten opened #7 "About voxelization"
Thanks for your work~
I'm puzzled about the result of voxelization. My questions are as follows:
1) What is the point features {fk} ? Is it the corrdinates? or it can be like rgb information?
2) What is the result of voxelization looks like? Is it in domain[0,1] or ..?

Looking for your reply, and best regards.

[2020-01-13 06:35] Jacky-gsq commented on #6
@synxlin thank you! it works.

[2020-01-13 06:35] #6 closed

[2020-01-14 21:26] synxlin commented on #7
Please refer to the voxelization Python code [here](https://github.com/mit-han-lab/pvcnn/blob/master/modules/voxelization.py) and CUDA code [here](https://github.com/mit-han-lab/pvcnn/blob/master/modules/functional/src/voxelization/vox.cu).

0. Voxelization means to voxelize the XYZ-space. Points of different XYZ coordinates may fall into the same voxel grid. We average the features of the points

[2020-01-15 01:24] SkyeFromKindergarten commented on #7
Thanks for your patient reply, I get my answer. I used binary representation in my work where 1 for occupied voxels and 0 for empty voxels, it seems to have a low performance. So I want to redesign it.
From your explaination, I think you use the average features(features extracted from RGB/coordinates) to 'fill' every voxel in B x C x R x R x R, am I right?

[2020-01-15 03:02] synxlin commented on #7
Hi, @SkyeFromKindergarten. You are right. We average the features of the points in **the same grid** as the feature of the grid. If there are no points in the grid, then its feature will be zeros.

[2020-01-15 21:04] maryumjam opened #8 "Visualizations or evaluation results"
Hi guys I wanna know if you have any module to visualize or save the results for evaluation? It will be great if you can share it.

[2020-01-16 03:17] SkyeFromKindergarten commented on #7
Thanks again :)

[2020-01-16 03:17] #7 closed

[2020-02-26 15:26] KangchengLiu commented on #8
Also interested in result saving and visualization modules.

[2020-03-05 08:10] Napoleongl opened #10 "NaN or Inf found in input tensor"
Hi!
Thanks for your great work and for releasing your code!
I'm trying to run the S3DIS model on an outdoors dataset that contains one more feature and four less classes than S3DIS (i.e. 7 and 9 respectively). However, when running either pvcnn or pvcnn2, I get a warning in the terminal `NaN or Inf found in input tensor` after 5-120 iterations. The accuracy reported is also very low (like .08%) an

[2020-03-05 10:55] DulinkLu opened #11 "RuntimeError while building extension '_pvcnn_backend'"
Thanks for releasing your code~
I met a problem when I tried to train my model. An error occurs when I run this command:
```python train.py configs/shapenet/pointnet.py --devices 1,2```
And the error is like this:
[code]
In my opinion it might be an error about compiling C and CUDA files. I searched on the internet and someone met similar problem said this is caused by the mismatched version of gc

[2020-03-05 16:34] synxlin commented on #11
Hi, @DulinkLu.

We are using:
OS: Ubuntu 18.04.1
PyTorch: >= 1.3
gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
Cuda compilation tools, release 10.2, V10.2.89

[2020-03-05 16:42] synxlin commented on #10
Hi, @Napoleongl.

Would you mind posting the complete warning information?

The first step is to figure out which tensor becomes NaN or Inf. Sometimes it may come from the normalization in the Voxelization (e.g. Line 20 in https://github.com/mit-han-lab/pvcnn/blob/master/modules/voxelization.py).

If that is the case, you may need to set "eps" to some constant like 1e-15 (e.g., Line 17 in https://

[2020-03-06 10:31] Napoleongl commented on #10
Thank you very much @synxlin !
Actually, the informaiton posted is all the warning I get (apart from at which iteration we are which may vary slightly from run to run).
Your suggestion seems to have done the trick though and the models now run.

[2020-03-06 10:31] #10 closed

[2020-03-14 07:45] baifanxxx commented on #8
Hi,
Can you provide visualization of the results? I think this will be very useful.

[2020-03-26 01:01] dsim174 opened #12 "Testing the trained model problem"
(edited my question)
Hi. I'm beginner of pytorch.

I'm trying to understand the code.

I finished training the model with kitti dataset without --evaluate option.

But, when I trained with --evaluate option to accurate evaluation, I got a segmentation fault.

Do I get any clues to solve it?

My command was 'python train.py  configs/kitti/frustum/pvcnne.py --devices 0 --evaluate'

Thanks.

[2020-03-27 00:34] #11 closed

[2020-03-27 00:42] synxlin commented on #12
Hi, @dsim174. Could you please provide more information on your error? The evaluation command seems correct to me.

The evaluation function script is [here](https://github.com/mit-han-lab/pvcnn/blob/master/evaluate/kitti/frustum/eval.py). You can insert `import IPython; IPython.embed()` anywhere you want to insert the breakpoint so that you can check whether different parts of the code have run or

[2020-03-27 02:53] dsim174 commented on #12
Thanks for your reply. I would try to debug in that way.

But, during the debug, the other question arises.

I found that you sampled the points randomly (1k) from the point cloud (~1.5k) in frustum kitti datasets as the input data. Is it right? Then, didn't you use the farthest point sampling (Qi, PointNet)? I think that this random sampling may cause some accuracy issues on the large point cloud

[2020-03-28 13:08] linhaojia13 opened #13 "Two questions about the pvconv.py"
Hi, Thank you for your good works!
When I look into the pvconv.py, I noticed that there is a parameter ‘with_se’ which is set 'Fasle' defaultly and control the recall of class ‘SE3d’. Can you tell me what a role does ‘SE3d’ plays and when should we set the 'with_se' True?
Another, the voxel features and point features are fused by a plus operation, whicn can be seen from the codes below:

`fused_f

[2020-03-31 06:23] linhaojia13 opened #14 "How can I get the same results in every training?"
Hi, thank you for your impressive works!
I noticed that you set the cudnn.benchmark false,
`cudnn.benchmark = False`
and fixed the random seed:
`    seed = configs.seed`
     `random.seed(seed)`
    `np.random.seed(seed)`
    `torch.manual_seed(seed)`
I add another line:
`    torch.cuda.manual_seed_all(seed)`

However, these counldn't keep the results same in every training. How can I get the same

[2020-03-31 18:32] synxlin commented on #12
Hi, @dsim174.

1. Yes, we randomly sample points from the point cloud as model input. This follows Qi's work: Line 171 [here](https://github.com/charlesq34/frustum-pointnets/blob/master/train/provider.py) in his repo of Frustum PointNet implementation based on Tensorflow.

2. We do use the farthest point sampling in Frustum PointNet++. See Line 16 [here](https://github.com/mit-han-lab/pvcnn/blob/m

[2020-03-31 18:42] synxlin commented on #13
Hi, @linhaojia13.

1. `SE3d` works as the same as the squeeze-and-excitation layer in 2D CNN. Generally, PVCNN is able to outperform its backbone without the help of `SE3d'. However, when the width multiplier is very small (such as 0.125x), `SE3d` can help to improve the performance at very little computation cost.

2. We did the ablation study on concatenation and add. Concatenation performs slig

[2020-04-01 00:38] linhaojia13 commented on #13
Thank you for your patient reply!

[2020-04-01 00:38] #13 closed

[2020-04-04 18:33] #12 closed

[2020-04-09 05:37] amiltonwong opened #15 "about training on KITTI dataset"
Hi, @authors,

Could you also give an example command on how to train KITTI dataset? I only see the [example command](https://github.com/mit-han-lab/pvcnn#training) for training the S3DIS dataset.

THX!

[2020-04-09 15:59] synxlin commented on #15
Hi, @amiltonwong. In general, to train a model, one can run

`python train.py [config-file] --devices [gpu-ids]`

For KITTI, you can run

`python train.py configs/kitti/frustum/pvcnne.py --devices 0`
`python train.py configs/kitti/frustum/pointnet.py --devices 0`
`python train.py configs/kitti/frustum/pointnet2.py --devices 0`

[2020-04-14 20:57] #15 closed

[2020-04-30 08:41] crea397 opened #16 "How can I training with original datasets?"
How can I training with original datasets with PVCNN?

[2020-04-30 13:33] Jacky-gsq opened #17 "Evaluate"
i have used my 2D detector to generate the "*frustum.pickle" file and put it into the "/pvcnn/data/kitti/frustum/frustum_data/".  Besides, the pvcnn.py was trained as your "ReadMe“.
But when i evaluate it throws the mistake as follows:
'''
/pvcnn# python train.py configs/kitti/frustum/pvcnne.py --devices 0 --evaluate
  File "train.py", line 23
    print(f'==> loading configs from {args.configs}')

[2020-04-30 15:26] Jacky-gsq opened #18 "Test"
How can i test the trained model on my own data, which partly was prosessed to  frustum-data by 2D detectors like "frustum_carpedcyc_rgb_detection.pickle"?

Thank you!

[2020-04-30 16:04] synxlin commented on #16
Hi, @crea397. In general, to train a model, you can run,
[code]

For example, to train PVCNN on S3DIS holding out Area 5, you can run
[code]

[2020-04-30 16:08] synxlin commented on #17
Hi, @Jacky-gsq. What's your training command? To evaluate, you just add `--evaluate` after your training command. The error you showed is caused by missing the config file path.

To evaluate trained models, you can do inference by running:
[code]

[2020-04-30 16:19] synxlin commented on #18
Hi, @Jacky-gsq.

To train or test models on your own data, you should have pickles under `/data/kitti/frustum/frustum_data` if you don't plan to change the `configs.dataset.root` in [config file](https://github.com/mit-han-lab/pvcnn/blob/master/configs/kitti/frustum/__init__.py).

To train the model on your own data, you should have `frustum_carpedcyc_train.pickle` and to evaluate the model on you

[2020-05-01 09:57] Jacky-gsq commented on #18
@synxlin Thank you first!
if i test the model on my own dataset, whether need to change the idx_path to "/data/kitti/image_sets/test.txt"?

[2020-05-01 09:57] #17 closed

[2020-05-01 19:17] synxlin commented on #18
You have to provide ground truth files under `data/kitti/ground_truth` as `training/label_2 data/kitti/` of `data_object_label_2.zip` downloaded from KITTI website. You also have to provide split of val by replacing `/data/kitti/image_sets/val.txt`.

[2020-05-02 10:13] Jacky-gsq commented on #18
Thank you very much!

[2020-05-02 10:13] #18 closed

[2020-05-04 14:29] ShettyHarapanahalli opened #19 "Custom dataset"
I am interested to use this for a custom dataset collected using a 3D camera (ex- Intel Real sense) can you please point me resources to build dataset and train the same.

[2020-05-19 09:28] Jacky-gsq opened #20 "Results visualization"
i'm sorry for consulting you again and angin!
Could you tell me how can i visualize the 3D detection results? or how can i change your code to realize that?
Thank you very much!

[2020-05-19 23:25] #16 closed

[2020-05-23 00:24] Jacky-gsq opened #21 "3D prediction without groundtruth"
Hi, guys, now i have a raw dataset without groundtruth, and i just implement  the 3D prediction and save the result with prediction-box.
Could you tell me how to change the conde to achieve that? Thanks a lot！

[2020-06-04 13:42] zx19950617 opened #22 "OSError: Could not load shared object file: libllvmlite.so"
Hi, every one! I encountered one problem about numba and libllvmlite.so when I execute "python train.py configs/shapenet/pvcnn/c1.py --devices 0,1", shown as follows:

  File "/home/zx/Projects/pvcnn-master/evaluate/shapenet/eval.py", line 7, in <module>
    import numba
  File "/home/zx/anaconda3/envs/pvcnn/lib/python3.7/site-packages/numba/__init__.py", line 15, in <module>
    from numba.core i

[2020-06-04 14:30] zx19950617 commented on #22
ok, I eventually solved this problem. I  lower the numba version from 0.49.0 to 0.43.1, which is the oldest version developed for python 3.7.

pip3 install numba==0.43.1
The matched version of llvmlite will be automatically installed.
Anyway, this solution works for me, now, the network is training.
![图片](https://user-images.githubusercontent.com/38937499/83769932-0b781f80-a6b3-11ea-8dab-73fcd2270

[2020-06-04 14:30] #22 closed

[2020-06-09 12:44] roeisun opened #23 "Running with CPU only"
Hi , this is possible to run the pre-trained model without CUDA ?
i want to generate the network graph to see the structure and the dimensions of the layer.
i just want to understand the inputs and dimensions.

Thanks

[2020-06-09 23:41] synxlin commented on #23
Hi, @roeisun. Currently, we only write the CUDA version of computing kernels, and thus it is impossible to run without CUDA.

[2020-06-10 07:27] roeisun commented on #23
Thanks.

[2020-06-10 07:27] #23 closed

[2020-06-18 07:35] nicolexie opened #24 "Pytorch 1.5.0 with error while buiding '_pvcnn_backend'"
hi, thanks for the code!
'_pvcnn_backend' cannot be build when I  run it with pytorch 1.5.0.
then I install pytroch 1.4.0 and it is ok.
so is it a version issue?

[2020-06-19 04:13] janismdhanbad opened #25 "The training code keeps running for a long time"
Hi synxlin,

Thanks for the repo!

I have prepared the s3dis data and running the following line

`python train.py configs/s3dis/pvcnn/area5/c1.py --devices 0`

After I run this line, my code keeps running for a long time(been running for the last 7 hours) and shows no output. It seems like it is stuck somewhere cause doing `nvidia-smi` shows no GPU utilization.

My command line looks like this:

[2020-06-21 21:20] synxlin commented on #25
Hi, @janismdhanbad. What's your Pytorch version?

[2020-06-21 21:21] synxlin commented on #24
Hi, @nicolexie. Sorry for the late response. We're looking into this.

[2020-06-22 01:56] janismdhanbad commented on #25
@synxlin , Thanks for the reply. Pytorch version 1.5 with Cuda 10.2 on ubuntu 18.04. I will change the version to 1.4 and try again, thanks for pointing that out.

[2020-06-22 02:34] nicolexie commented on #24
Hi, there is something wrong with the backend.py running today.
so I doubt that it may be not the version issue.
the running infomation is as below and it stoped here
"Using /tmp/torch_extensions as PyTorch extensions root..."

and the solution for my problem is to remove the "lock" file in /tmp/torch_extensions/_pvcnn_backend/

I guess that last time when I reinstalled the pytorch, the file is re

[2020-06-22 02:44] zx19950617 opened #26 "About the voxelization code"
Hi, @synxlin , thanks for your excellent work and  sharing! Now, I'm confused about:
1. the voxelization code in /modules/voxelization.py:
https://github.com/mit-han-lab/pvcnn/blob/578e899fa2b7b9a97b8878b21df1a092380aba16/modules/voxelization.py#L22
if self.normalize = False, what does this line of code mean?why add 1 and devide 2.0?

2. In addition, self.normalize seems to be equal to False in th

[2020-06-22 02:54] synxlin commented on #26
Hi, @zx19950617.
For Question 1, after subtracting `mean`, `norm_coords` mostly lie in [-1, 1]. We shift the data range to [0, 1] via adding one and then dividing by 2.
For Question 2, the input coordinates of the ShapeNet dataset are already normalized after data preparation; and thus we don't need to normalize these coordinates in the model.

[2020-06-22 02:55] synxlin commented on #24
Thank you for notifying us. I will close the issue for now. Feel free to re-open if you have further problems.

[2020-06-22 02:55] #24 closed

[2020-06-22 02:58] synxlin commented on #25
Hi, we are looking into the problems in Pytorch 1.5. Perhaps this issue #24 could help you.

[2020-06-22 03:00] zx19950617 commented on #26
OK, thanks for your patient and timely reply!

[2020-06-22 03:00] #26 closed

[2020-06-22 03:14] synxlin commented on #14
Hi, @linhaojia13. Sorry for the late response.
`torch.manual_seed(seed)` will automatically call `torch.cuda.manual_seed_all(seed)` if CUDA environment is detected.
Setting `seed` can only help keep the evaluation results almost the same. It might be difficult to keep the training the same, since some operations we written in CUDA may introduce some random into training which is not controlled by

[2020-06-23 06:23] nicolexie opened #27 "''voxel_features'' ,output of self.voxelization(features, coords) are zeros"
hi, I run as follows:
python train.py configs/shapenet/pvcnn/c0p25.py --device 2

and I found that in pvconv.py:
voxel_features, voxel_coords = self.voxelization(features, coords)
the voxel_features elements are alll zeros.

It seems that the _backend does not work, but the output format is right,
and backend is also build:
''Using /tmp/torch_extensions as PyTorch extensions root...
Detected CUDA

[2020-06-24 02:47] janismdhanbad commented on #25
Hi, it worked. I was playing with Pytorch and cudatool kit versions and it worked on Pytorch 1.4.0 along with cuda 10.1. Thanks!

[2020-06-24 02:47] #25 closed

[2020-06-24 08:34] nicolexie commented on #25
hi, is the voxel_features right in the code:
voxel_features, voxel_coords = self.voxelization(features, coords)

I got all zeros elements

[2020-06-25 01:45] synxlin commented on #27
Hi, @nicolexie. I have fixed check API for PyTorch 1.5 and tried running the command. It should work now for PyTorch 1.5.

[2020-06-25 01:46] synxlin commented on #14
I will close the issue for now. Feel free to re-open if you have further problems.

[2020-06-25 01:46] #14 closed

[2020-06-25 02:22] nicolexie commented on #27
Thanks for the reply.  I use PyTorch 1.3.0 recently.  The output format is right, but the values are all zeros, I have not figure out
the reason.

[2020-06-25 04:21] synxlin commented on #27
Hi, @nicolexie.
I would recommend you to delete `_pvccn_backend` under /tmp/torch_extensions, and tried again.
For Pytorch 1.3, the check API in [this file](modules/functional/src/utils.hpp) should be `AT_CHECK`, while `TORCH_CHECK` for Pytorch 1.5.

[2020-06-25 05:44] nicolexie commented on #27
I tried, pytorch 1.3 and1.5 both， but I got the same error

[2020-06-29 01:22] nicolexie commented on #27
cuda

maybe cuda problem

[2020-06-29 01:22] #27 closed

[2020-06-30 23:22] janismdhanbad opened #28 "offset values while creating data for S3DIS Dataset"
Hi @synxlin , Thanks for the amazing repo!

I have a question on the following line,
https://github.com/mit-han-lab/pvcnn/blob/db13331a46f672e74e7b5bde60e7bf30d445cd2d/data/s3dis/prepare_data.py#L138,
I can see that there are two offset values for which the same file is iterated. This offset value shifts the minimum x, y, z with the respective values. I am unable to understand the implication of t

[2020-07-19 03:13] zx19950617 commented on #27
Hi, @synxlin @nicolexie ! I met the same problem.
voxel_features, voxel_coords = self.voxelization(features, coords)
voxel_features are alll zeros.

Confusedly, the program doesn't raise any warning and error.

My environments are as follows:
pytorch 1.3.1
cuda 10.0
How do you solve this problem? Any suggestion will be appreciated a lot!

Best regards

[2020-07-19 03:14] zx19950617 commented on #27
Hi, @synxlin @nicolexie ! I met the same problem.
voxel_features, voxel_coords = self.voxelization(features, coords)
voxel_features are zeros.

Confusedly, the program doesn't raise any warning and error.

My environments are as follows:
pytorch 1.3.1
cuda 10.0
How do you solve this problem? Any suggestion will be appreciated a lot!

Best regards

[2020-07-19 08:57] zx19950617 opened #29 "voxel_features, voxel_coords = self.voxelization(features, coords)"
Hi, @synxlin !  Thanks for your excellent work and sharing! I met the problem shown as follow:
voxel_features, voxel_coords = self.voxelization(features, coords)
voxel_features are zeros.

It seems _backend doesn't work. out in the following code are zeroes.
https://github.com/mit-han-lab/pvcnn/blob/db13331a46f672e74e7b5bde60e7bf30d445cd2d/modules/functional/voxelization.py#L22

Confusedly, the pr

[2020-07-19 15:05] geothan opened #30 "KITTI training"
I installed all the required dependencies, plus ninja in Ubuntu 18.04 in my conda enviroment, using the commands:

`pip install -r requirements.txt
`
` conda install -c conda-forge ninja`

 But i get the error "subprocess.CalledProcessError: Command '['which', 'c++']' returned non-zero exit status 1." during training, has anyone faced this error?

i tried the following command:

`python train.py c

[2020-07-19 19:33] synxlin commented on #30
Hi, @geothan.
What's the result of running the command `which c++`?
Please try install build-essential: `sudo apt install build-essential`.

[2020-07-19 19:37] synxlin commented on #29
Hi, @zx19950617.
For Pytorch 1.3, the check API in [this file](https://github.com/mit-han-lab/pvcnn/issues/modules/functional/src/utils.hpp) should be AT_CHECK, while TORCH_CHECK for Pytorch 1.5.
According to #27, it may be the CUDA version problem. Could you upgrade your CUDA version to at least 10.2?

[2020-07-20 00:18] zx19950617 commented on #29
Hi, @synxlin , thanks for your reply!
I couldn't upgrage my cuda version because the version of the nvidia driver is 410.104, which supports the newest version of  cuda is only 10.0. And sadly, I counldn't change the nvidai driver since the host is used for public deep learning server.

So, I'd like to search for a solution based on my current environment. Any other idea benefits me, thanks!

[2020-07-20 08:28] nicolexie commented on #27
I changed the cuda version, and
My environments are as follows:
 pytorch 1.5
 cuda 10.0

[2020-07-20 20:26] geothan commented on #30
Now i faced another problem regarding cuda, should i use a specific version? I have installed the last version of Nvidia driver through Ubuntu repository.

i tried:

`python train.py configs/kitti/frustum/pvcnne.py --devices 0,1`

and i got:

`(pvcnn_env) george@inspiron:~/pvcnn$ python train.py configs/kitti/frustum/pvcnne.py --devices 0,1
==> loading configs from ['configs/kitti/frustum/pvcnne.p

[2020-07-22 00:29] zx19950617 commented on #29
Hi, @synxlin , I have upgraded nvidia driver and cuda to 10.2. And my pytorch is 1.5.0.
However, this doesn't work for me. voxel_features are still all zeros with correct format. The program dosen't raise any warning and errors.
 I didn't know how to figure it out.

[2020-07-23 13:17] #29 closed

[2020-07-25 18:52] geothan opened #31 "Point-cloud Dataset Query"
I have started studying your paper recently and i was wondering is that possible to use a pointcloud dataset (a set of .pcd files) for training directly? I'm asking that, because your 3 datasets have been pre-processed. In other words, i don't know if it is possible to feed the Neural Network with .pcd files directly or should i modify the format of pcd files to a specific one?

[2020-07-29 08:19] geothan commented on #19
I'm interested in to use a custom dataset, have you found a solution, till now?

[2020-08-10 17:55] SupriyaB1 opened #32 "subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1."
ros@rosmachine:~/Downloads/pvcnn$ python3 train.py configs/kitti/frustum/pvcnne.py --devices 0 --evaluate --configs.evaluate.best_checkpoint_path /home/ros/Downloads/kitti.frustum.pvcnne.pth.tar --configs.evaluate.num_tests 20
==> loading configs from ['configs/kitti/frustum/pvcnne.py']
Traceback (most recent call last):
  File "/home/ros/.local/lib/python3.7/site-packages/torch/utils/cpp_extensio

[2020-08-11 07:26] SupriyaB1 opened #33 "ImportError: No module named '_pvcnn_backend'"
ros@rosmachine:~/Downloads/pvcnn$ python3 train.py configs/kitti/frustum/pvcnne.py --devices 0 --evaluate --configs.evaluate.best_checkpoint_path /home/ros/Downloads/kitti.frustum.pvcnne.pth.tar --configs.evaluate.num_tests 20
==> loading configs from ['configs/kitti/frustum/pvcnne.py']
Traceback (most recent call last):
  File "train.py", line 266, in <module>
    main()
  File "train.py", line 7

[2020-08-14 18:20] wmpauli opened #34 "unable to download s3dis"
Hi, I'm having trouble download the s2dis dataset. I'm getting a proxy error for http://buildingparser.stanford.edu/dataset.html.

Does anybody know of an alternative source for the dataset?

I noticed that it is possible to use https://pytorch-geometric.readthedocs.io/en/latest/_modules/torch_geometric/datasets/s3dis.html, but the dataset seems to be in a different format.

[2020-08-14 18:52] wmpauli commented on #34
I was able to get it from here: https://web.archive.org/web/20200707221857/http://buildingparser.stanford.edu/dataset.html#Download

[2020-08-14 21:49] #34 closed

[2020-08-21 07:52] zxczrx123 opened #35 "The Division strategy of your SPVCNN in Semantic Kitti?"
Thank you for your great work.I have some questions about your newest work SPVCNN.
 I'm wondering if you process the entire 100mx100mx10m input directly during training or do you need to pre-divide it like other networks (e.g. KPCONV will pre-divide a category balance area with a radius of 6m)?I tried to reproduce your work and found that applying MinkowskiNet directly to full episode training wou

[2020-08-31 06:22] #35 closed

[2020-09-02 23:51] asurada404 opened #36 "Where to get the appendix?"
Thanks for sharing the code.
You mentioned in the paper that more detail of the experiments can be found in the appendix.
Where can I get the appendix?

[2020-09-06 00:53] wangyidong3 commented on #19
looking forward some clue or any suggestions.

[2020-09-13 02:23] SteveJunGao opened #37 "The code can be speedup with pytorch grid_sample"
Many thanks for releasing the code!

When I was trying the code I find one key function below can be effectively accelerated using pytorch functions

[code]
The maximum difference between `pytorch_voxel_features` and `pvcnn_voxel_features` is less than `1e-6`, but the running time of `pytorch_grid_sample` is significantly reduced.

[2020-09-14 04:13] zhijian-liu commented on #36
Hi,

Thanks for your interest in our work! The appendix can be found at https://papers.nips.cc/paper/8382-point-voxel-cnn-for-efficient-3d-deep-learning-supplemental.zip.

Best,
Zhijian

[2020-09-14 04:13] #36 closed

[2020-09-14 04:17] asurada404 commented on #36
Thanks a lot.

[2020-10-31 00:44] cslxiao commented on #25
same problem with pytorch 1.6

[2020-10-31 04:04] siyuan2018 opened #38 "What is point feature?"
Hi, first thanks for having such a good work. I have a question regarding the paper/code since I want to use my customized dataset.

What is feature mean? As in the code, the input is "features, coords". I can understand coords are the coordinates of each point, how about features? How to generate the feature from the point cloud data? Thanks!

[2020-10-31 04:09] zhijian-liu commented on #38
For different datasets, the feature can be different: it can be surface normal, intensity, reflectance, or simply the coordinates.

[2020-10-31 04:28] #38 closed

[2020-10-31 04:35] zhijian-liu commented on #19
Hi all, I think as long as the dataset can be represented as a set of points, each with coordinates and features. It should be easy to use the current codebase to train the model.

[2020-10-31 04:35] #19 closed

[2020-12-21 22:25] Etshhh opened #39 "Cones Detection"
Hey, thanks a lot for sharing your amazing work!
I came by this repo and it's paper through your [Driverless Autonomous Team](https://www.youtube.com/watch?v=WW9paispAW0&t=348s) video on YouTube.
I just want to ask if there are any  _LiDAR_ opensource datasets for training a model for **cones detection**, or if you'd be kind enough to share the one you used.
Also, assuming i have the dataset, does

[2020-12-23 18:55] honggudrnjs opened #40 "S3DIS Algined Version"
Thanks for sharing your code :)
By the way, I have a question though.
Your data processing code implies that  you might use S3DIS dataset of aligned version right?
I see some projects use non-aligned version (standard one).
Then, is there any reason for using aligned version?

[2020-12-24 10:13] kentangSJTU commented on #40
Hello,

We use the aligned version for fair comparison with PointCNN.

Best,
Haotian

[2021-01-01 20:51] #40 closed

[2021-02-23 09:16] benjaminkelenyi commented on #20
Hello @Jacky-gsq, do you managed to visualize the 3D detection results?

[2021-02-23 09:18] benjaminkelenyi commented on #8
Hello guys @maryumjam, @KangchengLiu, @baifanxxx.
Do you managed to visualize the 3D detection results?

[2021-02-26 08:28] sinAshish commented on #32
i get the same error while running on cuda-11, but when I tried the model  on colab, it runs fine

[2021-02-26 09:40] sinAshish commented on #37
any way to speed up the voxelization? for ex. avg voxelization using native pytorch?

[2021-02-26 18:06] zhijian-liu commented on #37
It might be possible to use `torch.sparse.FloatTensor().to_dense()`. However, the way it deals with duplicates is to sum them up rather them doing the averaging. Therefore, one possible way is to also use `to_dense` to count the occurrence in each voxel. I'm not sure how fast it will be. It would be great if you can try it out and let us know how it works. Thanks!

[2021-02-26 18:42] zhijian-liu commented on #32
It seems that the error is not from our codebase. It's actually triggered by `torch/include/torch/csrc/python_headers.h:9:20`, and the error is due to the missing `Python.h` header. You can probably refer to https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory to see whether it helps.

[2021-03-08 01:24] zhijian-liu commented on #32
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-08 01:24] #32 closed

[2021-03-08 23:20] zhijian-liu commented on #39
There isn't any public dataset for cone detection currently. If you have the dataset, you might need to modify the code to make it a classification model as it's currently a segmentation model.

[2021-03-08 23:22] zhijian-liu commented on #8
I think you can visualize the segmentation results similar to the one in https://colab.research.google.com/github/mit-han-lab/e3d/blob/master/tutorial/e3d.ipynb.

[2021-03-08 23:22] #8 closed

[2021-03-08 23:22] zhijian-liu commented on #20
I think you can visualize the segmentation results similar to the one in https://colab.research.google.com/github/mit-han-lab/e3d/blob/master/tutorial/e3d.ipynb.

[2021-03-08 23:22] #20 closed

[2021-03-08 23:23] zhijian-liu commented on #30
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-08 23:23] #30 closed

[2021-03-08 23:26] zhijian-liu commented on #33
I'm not sure whether the issue is related to ROS. Could you try the installation on a normal machine?

[2021-03-08 23:27] zhijian-liu commented on #21
The code release in this repo is meant for reproducing the results of research papers.

We help users who have trouble using the code to reproduce results in the paper, but in general, we do not provide suggestions on other issues such as how to apply the method to a new task or dataset.

[2021-03-08 23:27] #21 closed

[2021-03-08 23:28] #37 closed

[2021-03-08 23:28] #39 closed

[2021-03-10 05:55] sinAshish commented on #32
it's resolved now. It was happening because of the improper cudnn version

[2021-03-13 03:02] kentangSJTU commented on #28
Hello,

The offsets variable controls the way we generate sliding windows (whether we start from minimum coordinates or minimum coordinates plus a half block size offset). We actually inherit this setting from PointCNN implementation. The reason why we use these offsets is that the border regions of sliding windows might not be processed properly if we have just zero offset (for example, a chair m

[2021-03-13 15:03] zhijian-liu commented on #33
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-13 15:03] #33 closed

[2021-03-16 12:33] CWanli opened #41 "Change Voxel Resolution"
How can I increase the voxel resolution? For example, If I want to generate an 128x128x128 voxel, what should I do?  Can I just increase the "voxel_resolution_multiplier" parameter?

[2021-03-18 20:18] zhijian-liu commented on #41
I think that might not work. You can change `blocks` at https://github.com/mit-han-lab/pvcnn/blob/db13331a46f672e74e7b5bde60e7bf30d445cd2d/models/shapenet/pvcnn.py#L10 where the third parameter in the tuple corresponds to the voxel resolution of each block.

[2021-03-18 20:18] #28 closed

[2021-03-19 08:00] CWanli commented on #41
Thank you for the response!!

[2021-03-19 08:02] CWanli commented on #41
Another question...
Would you please explain the meaning of other parameters in the tuple?

[2021-03-19 08:04] CWanli commented on #41
I see. it is
out_channels, num_blocks, voxel_resolution

[2021-03-19 08:04] #41 closed

[2021-04-14 03:01] cjyiiiing commented on #32
what's your cudnn version now?

[2021-04-14 04:08] sinAshish commented on #32
I used this container: `nvidia/cuda:10.2-cudnn7-devel-ubuntu18.04` and no error then

[2021-04-14 05:42] cjyiiiing opened #42 "RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR"
When I train pvcnn, everything is OK. But when I train pvcnn2, error occured:
[code]
I'm really confused about this and haven't found the solution. Can you help me?

[2021-04-15 15:27] zhijian-liu commented on #42
@kentangSJTU, could you take a look at this issue? At the same time, @cjyiiiing could you please provide us with more detailed environment information (e.g., CUDA version, PyTorch Version)?

[2021-04-16 00:59] cjyiiiing commented on #42
I tried to train pvcnn2 again this morning. To my surprise, no error occurred now. But I didn't change anything like the code or the environment. It's strange.

My environment:
ubuntu: 18.04
CUDA: 11.1
cuDNN: 7.6.05
PyTorch: 1.5.0
python: 3.7.10

[2021-04-16 01:44] zhijian-liu commented on #42
That's interesting. I'm closing the issue for now. Feel free to reopen if if you encounter a similar issue in the future.

[2021-04-16 01:44] #42 closed

[2021-04-16 02:31] Eddieeee-Liu opened #43 "Can't get your exp-result"
Hi, sorry to bother, I got mIou 52% on S3DIS after running your code with default config. But It's still a big gap between ....

[2021-04-16 19:05] zhijian-liu commented on #43
Could you please provide us with more details (which model you are running, whether you have changed any configurations)?

[2021-04-17 02:16] Eddieeee-Liu commented on #43
Thx for your reply, I run with <python train.py configs/s3dis/pvcnn/area5/c1.py --devices 0,1> and my config is

configs.seed = 1588147245
configs.deterministic = False

# data configs
configs.data = Config()
configs.data.num_workers = 16

configs.data.num_classes = 13

# dataset configs
configs.dataset = Config(S3DIS)
configs.dataset.root = '/home/share/Dataset/PointCloud/s3dis'
configs.dataset.w

[2021-04-20 06:02] huster-wugj opened #44 "where is the inference code?"

[2021-04-26 19:27] zhijian-liu commented on #44
It's fairly easy to convert https://github.com/mit-han-lab/pvcnn/blob/master/train.py#L122-L144 to the inference code.

[2021-04-26 19:27] #44 closed

[2021-04-26 19:29] zhijian-liu commented on #43
@kentangSJTU, could you take a look at this? I'm not sure whether it is due to the version of PyTorch.

[2021-05-05 07:11] LeopoldACC opened #45 "confused by the model for kitti?"
just found the pointnet and pointnetpp

[2021-05-07 20:12] zhijian-liu commented on #45
The config that you are looking for is https://github.com/mit-han-lab/pvcnn/blob/master/configs/kitti/frustum/pvcnne.py.

[2021-05-07 20:12] #45 closed

[2021-05-12 13:50] cjyiiiing opened #46 "how to get the Latency and GPU Mem"
Hi, I wonder how to get the Latency and GPU Mem  in the paper. Could you tell me some details?

[2021-05-24 06:26] a-akram-98 opened #47 "What is meant by features, and coords!?"
In this code:

[code]

What is the input `Features and Coords`, In `Kitti Dataset` for example point cloud are defined as `(N,4)` as 3 for `x,y,z`, and one for reflectance so what is the features and coords from those 4 and why `coords.detach()` this will cut the gradient flow !?

[2021-05-26 11:24] soccermom123 opened #48 "The pretrained models can't be found."
Hi, sorry to bother. It seems that the links to the pages of pretrained models cannot be found. Is it possible for you to provide the pretrained models? Thanks a lot.

[2021-05-27 10:53] LeopoldACC opened #49 "Import C++ extensions issue"
Solved by [https://blog.csdn.net/qq_38677322/article/details/109696077](url)
hi, @zhijian-liu ,thanks for your sharing code, but when I run the command,it's log stop at the process of import the C++ extensions.
[code]
I manually traced the stopped time is when it try to import C++extension modules in `meters.kitti.frustum.py`
[code]
`modules/ball_query.py`
[code]
`modules/functional/__init__.py`
[

[2021-05-28 12:45] #49 closed

[2021-05-28 14:23] LeopoldACC opened #50 "Error building extension '_pvcnn_backend'"
Hi, @synxlin,Thanks for your sharing code.
But I meet a error building extension '_pvcnn_backend'
My environment is
[code]
Hi, @digital-idiot ,it seems that I meet the similary problem as [link](https://github.com/mit-han-lab/torchsparse/issues/66),but the different is pvcnn do not have an `setup.py` to modify,so what should I do to make it build successful?
The traceback log is shown as below,see

[2021-05-29 03:19] zhijian-liu commented on #47
In this case, `coords` will be `[x, y, z]` and `feats` will be `[x, y, z, reflectance]`. We apply the `detach` operation to `coords` because its gradient is not required (and it Is also not differentiable after the `torch.round` operation).

[2021-05-29 03:21] zhijian-liu commented on #50
I think it's related to your CUDA environment since there is the following error in your message:
[code]

[2021-05-29 07:51] LeopoldACC commented on #50
here is my `~/.bashrc`:
[code]
And I run other model with cuda is ok like this:
[code]

[2021-05-29 08:12] digital-idiot commented on #50
@LeopoldACC Before this, did you check `nvcc --version` and `which nvcc`? @zhijian-liu is correct to identify the problem. Your installed version of torch contains precompiled binaries therefore does not explicitly need `nvcc` to run, it just needs working `cudnn` for its operations. On the contrary, here you are trying to compile source code written in `cuda`, so you need a functioning `nvcc`.

[2021-05-29 08:13] LeopoldACC commented on #50
[code]

[2021-05-29 11:41] LeopoldACC commented on #50
Hi,I solved the problem refer to the [link](https://www.codeleading.com/article/14113416143/)
change the `export CUDA_HOME=$CUDA_HOME:/usr/local/cuda` to `export CUDA_HOME=/usr/local/cuda` in `~/.bashrc`

now my `~/.bashrc` is shown as below:
[code]
it seems that the reason is the :/usr/local/cuda been regard as ':/usr/local/cuda' but not report in error log...

[2021-05-29 11:42] #50 closed

[2021-05-31 03:31] zhijian-liu commented on #46
The latency should be fairly easy to be obtained by using the timer. GPU memory can be obtained from `nvidia-smi`.

[2021-05-31 14:42] cjyiiiing commented on #46
Thanks!

[2021-05-31 14:42] #46 closed

[2021-06-01 01:37] zhijian-liu commented on #48
Hi @soccermom123, I've just updated the README with the new download links. Please let me know if there are any questions. Thanks!

[2021-06-01 01:41] soccermom123 commented on #48
Thank you so much! @zhijian-liu

[2021-06-01 01:41] #48 closed

[2021-06-04 04:12] zhijian-liu commented on #47
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-06-04 04:12] #47 closed

[2021-07-20 09:33] LXYYY opened #51 "how to output result of part segmentation and bounding boxes"
Hello, how can I find the part segmentation and bounding boxes result? in S3DIS result, I can only find the labels and confidence, but I also need the segmentation result of the point cloud

[2021-07-20 14:28] zhijian-liu commented on #51
We do not have bounding box outputs, and the segmentation outputs should be `confidence`.

[2021-07-28 06:37] jeromepatel commented on #43
Hello @Eddieeee-Liu, I am also experimenting with the model script but with another custom dataset. During my training using almost same hyper-parameters (except 4-5 variable with difference configuration), I have noticed significant variation when testing on same test dataset usiing same model when we keep `configs.evaluate.num_votes = 1`, I suspect that the inference is not same each time we run

[2021-07-30 19:38] zhijian-liu commented on #43
Thanks @jeromepatel. @Eddieeee-Liu, I will close this issue for now, but feel free to reopen it if this issue has not been resolved.

[2021-07-30 19:38] #43 closed

[2021-09-12 07:34] Hao-HUST commented on #20
But I cannot open the visualization file now.

[2021-09-15 11:22] Stone-sy commented on #33
I also encountered the same problem. How should I solve it?

`(pvcnn) root@stoneyshi-LC0:~/mycode/pvcnn$ python train.py configs/s3dis/pvcnn/area5.py --devices 0,1 --evaluate --configs.evaluate.best_checkpoint_path s3dis.pvcnn.area5.c1.pth.tar
==> loading configs from ['configs/s3dis/pvcnn/area5.py']
Traceback (most recent call last):
  File "train.py", line 266, in <module>
    main()
  File "tra

[2021-09-17 15:09] zhijian-liu commented on #20
The link has been updated: https://github.com/mit-han-lab/spvnas/blob/master/tutorial.ipynb.

[2021-09-18 02:53] zhijian-liu commented on #33
Could you please try to add `verbose=True` to https://github.com/mit-han-lab/pvcnn/blob/master/modules/functional/backend.py#L6, which should give you more detailed logging information?

[2021-09-29 03:41] Hao-HUST commented on #41
Hi, will the prediction accuracy be beneficial by increasing the voxelization resolution, if the amount of lidar points in a frustum is dense and large enough? Do you have any suggestions about that?

[2021-10-01 18:50] zhijian-liu commented on #41
Increasing the voxel resolution can be beneficial particularly when the input scale is large. But it also significantly affects the memory consumption. Therefore, it really depends on your application and the memory/latency constraint you have.

[2021-10-05 08:18] Chichy210 opened #52 "different implement time with different size of dataset"
I use pretrain model with kitti dataset. When I use dataset length 25392 ,the speed is 18 its/s.But we use  first 348 data with same dataset,the speed is much lower that only 5.43 its/s.I want to know what causes the speed difference.

[2021-10-06 13:45] s1mpleee opened #53 "HOW CAN I INSTALL TORCH WITH PY37 ON AGX XAVIER"
it seems that no available pytorch package was given with python3.7 on jetson right now

[2021-10-06 18:53] zhijian-liu commented on #53
https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-9-0-now-available/72048

[2021-10-06 18:53] #53 closed, assigned to nobody

[2021-10-07 04:43] s1mpleee commented on #53
I still feel confused about should I build from source to install pytorch? or I can use the py36 wheel to build  it?
thank you!

[2021-10-08 03:41] zhijian-liu commented on #53
You could try to use the wheel to install PyTorch. If it doesn't work, you could upgrade to the latest JetPack (https://developer.nvidia.com/embedded/jetpack), which has PyTorch pre-installed.

[2021-10-08 03:50] zhijian-liu commented on #52
The first few iterations could be slower because the GPU might not be sufficiently warmed up in this case. You could try to run a few dummy iterations to warm up before testing the latency.

[2021-10-08 07:33] lsssssssssss opened #54 "About Visualization"
How can I get the results shown in Figure 6？

[2021-10-09 03:13] zhijian-liu commented on #54
The visualization is based on the features from the last PVConv. You may color each point based on the relative L2-norm of its features from either point-based or voxel-based branches.

[2021-10-11 08:51] sandeepnmenon opened #55 "IndexError while trying to use the BallQuery module"
I am trying to use the BallQuery module for my nearest neighbor call in my pointnet implementation.
Here is a snippet to reproduce the error.
[code]

I am getting the following error

<details>
<summary>Traceback</summary>

[code]

</details>

Is there a limitation in the range of distance/coordinates in the implementation?
I was not able to find any such issue in the `ball_query_kernel`.

[2021-10-12 01:53] zhijian-liu commented on #55
@synxlin and @kentangSJTU, could you please take a look at this when you have time? Thanks!

[2021-10-14 06:58] Chichy210 commented on #52
Thank for your response!!
I have already test it, and it works.

[2021-10-14 06:58] #52 closed, assigned to nobody

[2021-10-17 12:31] SueWann-Park opened #56 "About scene manipulation"
Your project is wonderful, well documented, and really helpful for my study and research. Thank you.

I currently want to manipulate(erase specific furniture, change orientation, etc) the segmented indoor scene.

It seems that **.eval.npy** file contains each voxel's(or point's) classification result (confidence array for each object),
so manipulating _corresponding points from input data_ may wor

[2021-10-17 14:03] #56 closed, assigned to nobody

[2021-10-22 04:37] #54 closed, assigned to nobody

[2022-02-03 22:17] HX-Tfd opened #57 "Training on ShapeNet part"
Hi, thank you for the great work!

I'm using your pretrained models for downstream tasks and I have a question regarding training your version of PointNet on the ShapeNet Part dataset.

How did you create the one-hot vectors indicating the shape categories? As in ```synsetoffset2category.txt``` (Airplane -> 1000...., Bag -> 0100...) or you did otherwise?

[2022-02-04 18:15] kentang-mit commented on #57
I think your understanding is correct. This is the [code](https://github.com/mit-han-lab/pvcnn/blob/476715b113f9c119f88003729bc6475285f78819/datasets/shapenet.py#L23) we define the `shape_id` and we basically create the one-hot label based on `shape_id` [here](https://github.com/mit-han-lab/pvcnn/blob/476715b113f9c119f88003729bc6475285f78819/datasets/shapenet.py#L70).

[2022-02-06 18:48] HX-Tfd commented on #57
Thanks! My model seems to produce the expected behaviour now.

[2022-02-06 18:48] #57 closed, assigned to kentang-mit

[2022-03-15 08:52] tomanick opened #58 "CAD Step files training"
Thanks for your sharing!
Nice work!
If I want to train my own dataset, those data are CAD step files.
How should I do data preprocessing ?
Changing those data to X,Y,Z,R,G,B ?

[2022-03-18 05:04] zhijian-liu commented on #58
That's right. You should process each of your data into an `NxC` tensor, where `N` is the number of points and `C` is the feature size (which is 6 in your case).

[2022-03-18 10:55] coallar opened #59 "can not import cpp files?"
Hi, it is wrong when i train the command:
python3 train.py config/shapenet/pvcnn/c1.py
details coud be senn as below:

![image](https://user-images.githubusercontent.com/66529823/158990399-8c0daa86-0e1f-4b09-ad4d-f953fa410266.png)

[2022-03-19 05:15] tomanick commented on #58
好的，謝謝
另外，想請問若點雲是比較稀疏的(比如：比較平滑和平坦的曲面，可能只有4個點雲(四個頂點)或10個點雲左右，但在複雜的曲面上，點雲分布較多)，在PVCNN中也能得到不錯的效果嗎?
還是在SPVNAS中 https://github.com/mit-han-lab/spvnas 能獲得比較好的效果?

[2022-03-25 19:41] zhijian-liu commented on #58
PVCNN/SPVCNN is not designed for meshes. You need to first sample the point cloud from the mesh surface.

[2022-03-25 19:45] zhijian-liu commented on #59
This is probably due to the CUDA environment configuration. You could add these lines into your `.bashrc`:
[code]
Remember to restart the terminal after this.

[2022-03-26 04:59] tomanick commented on #58
OK. I got it.
Do you recommend libraries for sampling point cloud from mesh surface?

Besides, the third parameter in tuples means voxel resolution, right?
![image](https://user-images.githubusercontent.com/37836335/160225351-73afecca-efec-48bf-91dc-701951d526cb.png)
Why the third parameters in the third and fourth blocks are None?
Those blocks do not need voxel for extracting features?

Thanks!

[2022-04-01 05:04] zhijian-liu commented on #58
You could probably use something like https://github.com/PointCloudLibrary/pcl/blob/master/tools/mesh2pcd.cpp to sample point cloud from mesh surface.

The third parameter is the voxel resolution in the voxel branch. We do not add the voxel branch for the third and fourth blocks due to the computation cost.

[2022-04-07 02:11] tomanick commented on #58
OK. Thank you!

OK. I get it. In addition, after I added new parameters in third and fourth blocks, I found that the model's performance became much better, even though it would need larger GPU memory.

Furthermore, I have converted step files to point clouds data successfully and I can train those data by PVCNN.
It is worth mentioning that the results are good. （你們模型設計得很不錯👍）

Besides, I modified

[2022-04-07 02:44] synxlin commented on #58
Your contribution is welcome. I suggest that you can fork our repo, add your dataset python file in the folder datasets/, update README.md to show how to use your code, and create a pull request.

[2022-04-07 15:31] tomanick commented on #58
OK.
I will spend some time tidying up code and writing corresponding files.
After finishing those tasks, I will create a pull request to you.
Thanks!

[2022-04-08 18:07] #59 closed, assigned to zhijian-liu

[2022-04-08 18:07] #58 closed, assigned to zhijian-liu

[2022-04-22 17:57] zhijian-liu commented on #55
Sorry for the really late follow-up! This issue is due to the wrong input shape. The input arguments of `ball_query` need to be in the shape of `BxCxN`, where `B` is the batch size and `N` is the number of points.

[2022-04-22 17:58] zhijian-liu commented on #55
A working example is as follows:
[code]

[2022-04-28 11:07] sandeepnmenon commented on #55
Thank you @zhijian-liu .
Closing

[2022-04-28 11:07] #55 closed, assigned to zhijian-liu

[2022-05-02 02:21] sunghyun-nam opened #61 "visualization and features"
Hello.
I'm studying for 3d semantic segmentation and I'm new in this field.
So I don't know what shoud I do for visualization using your model.
I also watched your advice and reference code related to visualization.
But I couldn't understand.
Among the answers you gave, you were like "The visualization is based on the features from the last PVConv. You may color each point based on the relative L2

[2022-05-06 18:37] zhijian-liu commented on #61
Could you be more specific about your question? What do you want to visualize? Which step are you currently at? Thanks!

[2022-05-09 01:43] sunghyun-nam commented on #61
I'd like to get the results in figure 6
#54

I just do the process in README.md.
There're just how to train(test, evaluate) model.
I want to visualize the results(features) from the model.

[2022-05-24 21:59] zhijian-liu commented on #61
You could follow https://github.com/mit-han-lab/spvnas/blob/master/tutorial.ipynb to visualize the point cloud. For feature visualization, you need to generate the color based on the L2 feature norm.

[2022-05-25 01:01] #61 closed, assigned to zhijian-liu

[2022-06-10 16:59] fengyu019 opened #62 "RuntimeError: Error building extension '_pvcnn_backend':"
RuntimeError: Error building extension '_pvcnn_backend': [1/14] /usr/local/cuda/bin/nvcc -DTORCH_EXTENSION_NAME=_pvcnn_backend -DTORCH_API_INCLUDE_EXTENSION_H -isystem /root/miniconda3/envs/fengyu/lib/python3.7/site-packages/torch/include -isystem /root/miniconda3/envs/fengyu/lib/python3.7/site-packages/torch/include/torch/csrc/api/include -isystem /root/miniconda3/envs/fengyu/lib/python3.7/site-p

[2022-06-10 23:11] zhijian-liu commented on #62
You need to double-check whether you have `gcc` installed and whether its version is correct.

[2022-06-11 02:00] fengyu019 commented on #62
I solve my problem by changing '/usr/bin/gcc-7' to '/usr/bin/gcc-8.
But I'm still full of doubts. I pulled the 10.2-cudnn7-devel-ubuntu18.04 image from docker hub. The default gcc version of this system is 7.5.0. Before that, I used another docker image. After I upgraded to gcc9 in the default gcc4 image (gcc -v shows the version as gcc9). But it still reports that the /usr/bin/gcc-8 folder does n

[2022-06-11 02:32] zhijian-liu commented on #62
This is probably because the environment variable `CC` is not correctly set. I'm closing this issue for now.

[2022-06-11 02:32] #62 closed, assigned to zhijian-liu

[2022-06-19 11:34] XinYu-Andy opened #63 "CUDA kernel failed : an illegal memory access was encountered"
Hi,
I am using part of your code to build another program. However, I got the following error message when I ran the code on multiple GPUs. Any suggestions for solving this problem?
Thanks.

CUDA kernel failed : an illegal memory access was encountered
void three_nearest_neighbors_interpolate(int, int, int, int, const float*, const float*, const float*, int*, float*, float*) at L:130 in /mnt/backu

[2022-06-20 07:09] XinYu-Andy commented on #63
I have fixed this bug; It's a bug of MPI (not a part of this codebase).
I will close this issue.

[2022-06-20 07:09] #63 closed, assigned to nobody

[2022-07-08 08:45] BrotherStrong2 opened #64 "How to convert custom op into tensorrt"
Thank you for your great job!
When I try to convert pytorch model to tensorrt, there are some custom operations just like AvgVoxelization, furthest_point_sample hard to convert into tensorrt. Is there any suggestion or reference code for me? Thanks a lot.

[2022-07-08 14:02] zhijian-liu commented on #64
It's not very easy to convert PVCNN to TensorRT. You probably need to register them as custom plugins in TensorRT.

[2022-07-08 14:02] #64 closed, assigned to nobody

[2022-08-25 07:42] Ryz-dl opened #65 "Why use the code x = x - (minx + args.block_size / 2) in data/s3dis/prepare_data.py?"
Could you please tell me the reason why you use the code  x = x - (minx + args.block_size / 2) in data/s3dis/prepare_data.py line 240?

[2022-09-08 19:13] kentang-mit commented on #65
Hello @Ryz-dl,

That is to align with the design of PointCNN [here](https://github.com/yangyanli/PointCNN/blob/aa551ce5258dbf4f73db0d916826574f054dd3b9/data_conversions/prepare_s3dis_data.py#L65). Basically we want to divide the room into different sliding windows, and the sliding window can start from both (minx, miny) and (minx + block_size / 2, miny + block_size / 2). The latter might be more f

[2022-09-09 08:46] Ryz-dl commented on #65
Thanks for your reply.It helped me a lot.

[2022-09-09 14:10] #65 closed, assigned to kentang-mit

[2022-09-19 08:45] houyongkuo opened #66 "Two questions about feature extraction"
Hello, I am doing point cloud feature extraction recently, and I have two questions to ask:
1. I have obtained the high-dimensional features of the point cloud (eg. 32-dimensional), how to convert to 3-dimensional and get the visulization result similar to Figure 6 in the paper?
2. Regarding the fusion part, whether it is better to use additive fusion or cat fusion for the features obtained by the

[2022-09-23 19:32] zhijian-liu commented on #66
You can visualize the L2 norm of point features similar to the heatmap visualization.

We tried both. The performance difference is marginal.

[2022-09-28 10:21] Carbord opened #67 "error when running "from modules.functional.backend import _backend""
Hello! When running " from modules.functional.backend import _backend ", I encounter the following error :

![S(}8ZFG7OM6R2B)Y_R4K7`J](https://user-images.githubusercontent.com/33995512/192755076-36661530-5fc4-4f0a-ab88-81b770652f56.png)

It may result from the wrong version. Can you provide the versions about the pytorch, nvcc, etc to run this repostory?

I am using pytorch 1.11. And the "ncvv -V

[2022-10-07 23:52] zhijian-liu commented on #66
I'm closing this issue due to its inactivity. However, please feel free to reopen it if your problem persists.

[2022-10-07 23:52] #66 closed, assigned to zhijian-liu

[2022-10-07 23:59] zhijian-liu commented on #67
Could you please post the full error message here? Thanks!

[2022-10-16 09:13] QiuJunning opened #68 "Function TrilinearDevoxelizationBackward returned an invalid gradient at index 0 - got [4, 192, 32, 32, 32] but expected shape compatible with [4, 192, 34, 34, 34]"
I tried to replace my original block with pvcov, but I got the following error during backpropagation. Do you know how to solve it? I look forward to your reply. Thank you!

I set all pvcov resolutions to 32 and got the following error：
Function TrilinearDevoxelizationBackward returned an invalid gradient at index 0 - got [4, 192, 32, 32, 32] but expected shape compatible with [4, 192, 34, 34, 34]

[2022-10-21 09:56] #68 closed, assigned to nobody

[2022-11-05 07:14] stsan9 commented on #67
Not the original poster but I had a similar error

Interestingly if I run the code again after it fails the first time, it'll start working.

Here's some additional information:
Dockerfile:

nvcc --version

torch version 1.11.0

nvidia-smi
<img width="681" alt="Screen Shot 2022-11-05 at 12 13 27 AM" src="https://user-images.githubusercontent.com/42155174/200107677-d647097d-e03c-4ad3-a8bd-e56efae99

[2022-11-06 02:47] stsan9 commented on #67
Previous error occurred on 2080-Ti. Saw the same on a 1080-Ti. For some reason it hasn't occurred for 3000 series and other GPU's like V100s.

[2022-11-18 16:29] zhijian-liu commented on #67
The error is triggered by `c++: fatal error: Killed signal terminated program cc1plus`. Could you maybe check if it's due to the memory size?

[2022-11-28 12:45] JudgeLJX opened #69 "voxelization part"
Hi,

Thanks for your work.

If I only want to voxelize the S3DIS dataset and deal with the voxelized feature, is it suitable to use your code?

Many thanks.

Judge

[2022-11-28 13:53] JudgeLJX commented on #69
And the output of the dataloader is data[9, num_points] = [x_in_block, y_in_block, z_in_block, r, g, b, x / x_room, y / y_room, z / z_room], what is the mean of the block here? And is all the x,y,z from one epoch belong to the same block?

[2022-11-29 17:06] JudgeLJX commented on #69
And I met this error when I use the following command:
python train.py configs/s3dis/pvcnn/area5/c1.py --devices 0,1

==> loading configs from ['configs/s3dis/pvcnn/area5/c1.py']
Traceback (most recent call last):
  File "/home/judgel/anaconda3/envs/pvcnn2/lib/python3.8/site-packages/torch/utils/cpp_extension.py", line 1667, in _run_ninja_build
    subprocess.run(
  File "/home/judgel/anaconda3/en